{% extends 'Employeesidebase.html' %}

{% block main %}

<script type="text/javascript">
    function checkpassword()
    {
        if(document.changePassword.newpassword.value!=document.changePassword.confirmpassword.value)
        {
            alert('New password And Confirm Password filed does not match');
            document.changePassword.confirmpassword.focus();
            return false;
        }
        return true;
    }

</script>
<div class="card shadow m-1">
    <div class="card-body">
    <center><h3 class="p-2 text" style="font-family:Times New Roman;"><u>Change  Password</u></h3></center>

        <div class="container-fluid">
            <form method="post" name="ChangePassword" onSubmit = "return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Current Password</label>
                            <input type="password" name="currentpassword" class="form-control" style="font-family:Times New Roman;"  placeholder="Enter Current Password Again" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">New Password</label>
                            <input type="password" name="newpassword" class="form-control" style="font-family:Times New Roman;" placeholder="Enter New Password" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Confrom New Password</label>
                            <input type="password" name="confirmpassword" class="form-control" style="font-family:Times New Roman;" placeholder="Enter new password" required>
                        </div>
                    </div>
                </div>
                <br>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary" style="font-family:Times New Roman;">
            </form>

        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Password Updated successfully');
    window.location = ('{% url 'Logout' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something Went Wrong, try Again...');  

</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your Current Password is wrong, try Again...');  

</script>
{% endif %}

{% endblock %}