 {% extends 'hrbase.html' %} {% block main %} {% load static %}

<div class="card shadow m-1">
    <div class="card-body">
        <center><h3 class="p-2 text" style="font-family:Times New Roman;"><u>Edite Employee ProfileDetails</u></h3></center>

        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'images/HR 123.png' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-family:Times New Roman;">{{request.user.first_name}} {{request.user.last_name}}</h5>
                                <p class="card-text" style="font-family:Times New Roman;">Employee Code </br> {{employee.empcode}} </p>
                                <p class="card-text"  style="font-family:Times New Roman;">Joining Date</br> {{employee.joiningdate}}</p>
                                <p class="card-text" style="font-family:Times New Roman;">Email ID</br> {{employee.user.username}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">First Name</label>
                            <input type="text" name="firstname" class="form-control" placeholder="Enter First Name" pattern="[A-Za-z]+" style="font-family:Times New Roman;" value="{{employee.user.first_name}}">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Last Name</label>
                            <input type="text" name="lastname" class="form-control" placeholder="Enter Last Name" pattern="[A-Za-z]+" value="{{employee.user.last_name}}" style="font-family:Times New Roman;">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Employee Code</label>
                            <input type="text" name="empCode" class="form-control" placeholder="Enter your Employee Code" pattern="[0-9]+" value="{{employee.empcode}}" style="font-family:Times New Roman;">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Employee Department</label>
                            <input type="text" name="department" class="form-control" placeholder="Department" value="{{employee.empdept}}" style="font-family:Times New Roman;">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Employee Designation</label>
                            <input type="text" name="designation" class="form-control" placeholder="Designation" value="{{employee.designation}}" style="font-family:Times New Roman;">
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Contact</label>
                            <input type="text" name="contact" class="form-control" placeholder="Enter your Contact" value="{{employee.contact}}" style="font-family:Times New Roman;">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email ID</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter your email ID" value="{{employee.user.username}}" style="font-family:Times New Roman;">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Joining Date [{{employee.joiningdate}}]</label>
                            <input type="date" name="jdate" class="form-control" style="font-family:Times New Roman;">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="font-family:Times New Roman;">Gender [{{employee.gender}}]</label>
                            <select name="gender" class="form-control">
                                <option value="None">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary" style="font-family:Times New Roman;">
            </form>

        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Profile Updated successfully');
    window.location = ('{% url 'hredite_employee' employee.id %}');
</script>
{% endif %} {% if error == "yes" %}
<script>
    alert('Something Went Wrong, try Again...');
</script>
{% endif %} {% endblock %}