{% extends 'Employeesidebase.html' %}

{% block main %}
{% load static %}

<div class="card shadow m-1">
    <div class="card-body" style="background-image: url({% static 'images/6.jpg' %})">
        
        <center><h2 class="p-2 text" style="font-family:Times New Roman; color:white;"><u> MY OVERTIME</u></h2></center>
        <div class="middle">
            <center><h1 style="font-family:Times New Roman; color:white;">COMING SOON</h1></center>
            <hr>
            <center><p style="font-family:Times New Roman; color:white;">35 days</p></center>
          </div>
          <div class="bottomleft">
            <center><p style="font-family:Times New Roman; color:white;">Hold tight as we get our working robots together and produce the most astonishing product ever.</p></center>
          </div>
        </div>
    </div>   
</div>     
{% endblock %}